@import "tailwindcss";
@plugin "daisyui";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Disable the rubberbanding effect on Mac and iOS */
  overscroll-behavior-y: none;
}
